{% set first_name =  "Sir/Madam" %}
{% if customer.first_name %}
    {% set first_name =  customer.first_name | title %}
{% endif %}



{% macro(param, param2) %}
 {{ first_name }}
{% endmacro %}
{{ 3.14 }}
{{ "Hello" }}
{{ True }}
{{ 42 }}
{% extends "inventory/index.jinja" %}
{% set heading = 'This is a heading' %}
{# This is a comment #}


{% include 'main/include/searchbar.jinja' %}

<div id="sortByBox">
    <p><label for="id_order_by">Sort by:</label></p>
    {{ form.order_by }}
</div>

{{ 3 }}
{{ 3.14 }}
{# Commet #}
{{ True }}

